
    <h3><%= title %></h3>
    <div id="creditos">
      Desarrollado por Fernando Calatayud Lopez
    </div>
    <div id="logo">
       <img src="/images/logoQuiz.png" alt="quiz, juego de preguntas" />
    </div>   
    <br>
    
  
