* { margin: 0; padding: 0;}
body { font: 16px Georgia, serif;}
#page-wrap { margin: 2% auto;

             color: white;}
#page-wrap > .main { border: 1px solid #999;
                     padding: 1%;
                     margin: 0 0 1px 0;
                     color: black;}
section > div { padding: 20px;}                                  
header, nav, section {  background: #fff;
                       text-align: center;}
footer { background: #fff;
         text-align: center;} 
nav span { margin: 0 10px 0 0;} 
#logo { float: left; max-width: 40%;}
#logo img { width: 100%;}
#creditos { float: right; max-width: 60%;}
#error { color: #f00; font-size: smaler;}                              
@media only screen
and (max-width:480px){

header span, section h3 { display: none;}
body { font-size: xx-large; background: #333; }
#page-wrap:after { content: "vision smartphone";} 
section { height: 250px;}
#logo { width: 20%; max-width: 120px; float: right; display: inline-block;}
#creditos { width: 75%; float: left; display: inline-block;}

}
@media only screen
and (min-width:530px){
	
#page-wrap:after { content: "version pantalla grande";}
nav { float: left;
      width: 15%;
      height: 350px;}
nav span { margin: 0 100px 0 0;}
section { float: right;
           width: 80%;
           height: 350px;}
footer { clear: both;     
         display: block;}
         body { background: #999;}

}