
  	
  	<form name"form1" method="get" action="/quizes/answer">
  		<p>Pregunta:  <%= pregunta %></p>
        <input type="text" name="respuesta" value="responda aqui"/>  
         <input type="submit" value="ENVIAR"/> 
  	</form>
    
 